.post_container-question {
    //text-align: center;
    //padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: left;

    .title_container {
        width: 100%;
        background: rgba(255, 255, 255, 0.27);
        padding: 0 10px;
        border-bottom: 1px solid black;

        .title {
            //text-decoration: underline;
            //margin: 0;
            //text-transform: uppercase;
        }
    }

    .content_c {
        background: rgba(255, 255, 255,0.3); //        border-radius: 0 0 20px 0;
        flex: 1;
        height: 180px;
        width: 100%;
        padding: 10px;

        &-content {
            height: 100%;
            margin: 0;
        }
    }

    .votes-container {
        padding: 20px;
        height: 33%;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        align-items: center;

        img {
            height: 20px;
            width: 20px;
            cursor: pointer;
        }

        .upvote {
            transform: rotate(180deg);
        }

        .downVote {}
    }

    .deleteButton {
        margin-top: 18px;
        width: 100%;
        border-radius: 20px;
        padding: 5px;
        outline: none;
        cursor: pointer;
        transition: 0.3s;
        //border: none;
        background: $color-orange;

        &:hover {
            background: $color-purple;
        }
    }

    .showAnswers {
        //margin-right: auto;
        width: 100%;
        border-radius: 20px;
        margin: 10px;
        padding: 5px;
        outline: none;
        cursor: pointer;
        transition: 0.3s;
        border: none;
        background: $color-blue;

        &:hover {
            background: $color-purple;
        }
    }

    .showpicture_wrapper {
        display: block;
        width: 100%;

        .showPictureBtn {
            margin-right: auto;
            //width: 100;
            border-radius: 20px;
            margin: 10px;
            padding: 10px;
            outline: none;
            cursor: pointer;
            transition: 0.3s;
            border: none;
            background: $color-blue;
        }
    }

    .postPicture-container {
        margin: 10px auto 0;

        .postPicture {
            //position: relative;
            object-fit: contain;
            height: 100%;
            width: 100%;
        }
    }

    .show {
        display: block;

        i {
            //color: white;
        }
    }

    .hidden {
        display: none;
    }

    .orange {
        color: orange;
    }

    .white {
        color: white;
    }
}
