.post_container-question {
    text-align: left;
    padding: 10px;
    width: 100%;
    background: $color-white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;

    .title {
        margin: 0;
    }

    .content_c {
        padding: 1px;
    }

    .votes-container {
        position: relative;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        justify-content: center;
        align-items: center;

        img {
            height: 20px;
            width: 20px;
        }

        .upvote {
            transform: rotate(180deg);
        }

        .downVote {}
    }

    .showPictureBtn {
        margin-right: auto;
        //width: 80px;
        border-radius: 20px;
        padding: 5px;
        outline: none;
        cursor: pointer;
        transition: 0.3s;
        //border: none;
        background: $color-blue;
    }

    .postPicture-container {
        margin: 0 auto;
        position: relative;
        margin-top: 10px;

        .postPicture {
            position: relative;
            object-fit: contain;
            height: 100%;
            width: 100%;
        }
    }

    .show {
        display: block;
    }

    .hidden {
        display: none;
    }
}
