@import './userInfo.scss';
@import './forumQuestion.scss';
@import './answerQuestion.scss';
@import './showAnswer.scss';

.post {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px auto 0;
    width: 100%;
    background: $color-blue;
    //margin-top: 10px;
    box-shadow: 5px 5px rgba(78, 136, 221,0.4);
    @media screen and (min-width: 800px) {
        width: 40%;
    }

    &:nth-child(odd) {
        background: $color-green;
        box-shadow: 5px 5px rgba(49, 219, 122, 0.4);

    }

    &_container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
        animation: fadeForumPost 0.4s linear;
    }
    @keyframes fadeForumPost {
        0% {
            opacity: 0;
        };

        100% {
            opacity: 1;
        };
    }
}
