@import './userInfo.scss';
@import './forumQuestion.scss';
@import './answerQuestion.scss';
@import './showAnswer.scss';

.post {
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px auto 0;
    width: 100%;
    background: $color-blue;
    //margin-top: 10px;
    @media screen and (min-width: 800px) {
        width: 40%;
    }

    &:nth-child(odd) {
        background: $color-green;
    }

    &_container {
        //border-bottom: 10px solid black;
        //padding: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
        animation: fadeForumPost 0.4s linear;
    }
    @keyframes fadeForumPost {
        0% {
            opacity: 0;
        };

        100% {
            opacity: 1;
        };
    }
}
