.post {
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    background: $color-green;
    margin-top: 10px;
    @media screen and (min-width: 800px) {
        width: 80%;
    }

    &:nth-child(odd) {
        background: $color-blue;
    }

    &_container {
        margin-right: 500px;
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        animation: fadeForumPost 0.4s linear;

        &-userInfo {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            width: 50%;
            padding: 20px;
            height: 80%;
            background: $color-background;

            h4 {
                padding: 10px;
            }

            img {
                height: 100px;
                object-fit: contain;
            }
        }

        &-question {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .username {
                padding: 1px;
            }

            .title {
                margin: 20px;
            }

            .content {
                margin-left: 50px;
                font-weight: bold;
            }

            .votes {
                padding: 20px;
                margin-left: auto;
            }
        }

        &-answerContainer {
            flex: 1;
            //width: 100%;
            button {
                outline: none;
                cursor: pointer;
                transition: 0.3s;
                border: none;
                background: $color-orange;
            }
        }
    }
    @keyframes fadeForumPost {
        0% {
            opacity: 0;
        };

        100% {
            opacity: 1;
        };
    }
}
