.post_container-userInfo {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    //justify-content: center;
    flex-wrap: wrap;
    padding: 10px;

    h3 {
        font-weight: bold;
        margin: 0;
        padding: 0 10px;
    }

    img {
        height: 100px;
        object-fit: contain;
        border-radius: 50%;
    }

    .time {
        display: flex;
        align-items: center;
        margin: 10px;

        span {
            font-family: 'Open Sans', sans-serif;
            margin-left: 4px;
            font-weight: bold;
            flex: 1;

            &:first-child {
                //margin-right: 10px;
            }
        }
    }
}
