.post_container-userInfo {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    //justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    //background-color: white;
    border-radius: 20px 20px 0 0;

    .userinfo_wrapper {
        display: flex;
        flex-direction: column;
    }

    h3 {
        font-weight: bold;
        margin-left: -45px;
        margin-top: 0;
        margin-bottom: 5px;
        text-transform: capitalize;
    }

    img {
        margin-right: 6px;
        height: 100px;
        object-fit: contain;
        border-radius: 50%;
    }

    .time {
        opacity: 0.6;
        display: flex;
        align-items: center;

        span {
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            flex: 1;

            &:first-child {
                margin-right: 6px;
            }
        }
    }
}
