.loader {
    //background: $color-orange;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border-top: 20px solid orange;
    border-bottom: 20px solid purple;
    border-left: 20px solid lime;
    border-right: 20px solid lightblue;
    animation: 3s spin linear infinite alternate;
    //border-top:20px;
    //border-bottom: 20px;
    margin-top: 200px;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
