.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

textarea {
  resize: none;
}
input {
  margin: 0.5em;
}

img.uploadedImage {
  width: 10em;
  height: auto;
}
