/*--
Import Parts of page here
--*/
@import './settings/_main.scss';
@import './blocks/_main.scss';
/*--
<3
--*/
main {
    min-height: 100vh;
}

h1,
h2,
h3 {
    background: $color-black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

input,
li,
p,
//span,
ul {
    background: $color-black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.4s;
}
