/*--
Import Parts of page here
--*/
@import './settings/_main.scss';
@import './blocks/_main.scss';
/*--
<3
--*/
main {
    min-height: 100vh;
    animation: routingAnimation 0.2s linear;
}
@keyframes routingAnimation {
    0% {
        opacity: 0;
    };

    100% {
        opacity: 1;
    };
}

h1,
h2,
h3 {
    font-weight: bold;
    background: $color-black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


li,
p,
span,
ul {
    font-weight: bold;
    background: $color-black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.4s;
}
