.Chat {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .chatButton{
        border-radius: 50px;
        font-size: 0.7em;
        text-transform: uppercase;
        font-weight: bold;
        padding: 12px 40px;
        letter-spacing: 1px;
        border: 0px;
        text-align: center;
        margin: 0px;
        color: white;
        cursor: pointer;
        background: $color-orange;
        margin: auto;
        width: 80%;
    }
    .chatNewMessageDiv{
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        input {
            margin-left: 10%;
            padding: 5px;
            border-radius: 50px;
            border: 2px solid $color-orange-solid;
            background: rgba(231, 99, 47, 0.34);
        }
        ul {
            list-style-type: none;
        }
        li {
            margin-bottom: 10px;
            letter-spacing: 1px;
            font-weight: bold;
        }
        li:hover {
            cursor: pointer;
        }
        textarea {
            width: 80%;
            margin-left: 10%;
            margin-bottom: 10px;
            padding: 5px;
            border-radius: 10px;
            border: 2px solid $color-orange-solid;
            background: rgba(231, 99, 47, 0.34);
        }
    }
}
.ChatConversationWrapper{
    padding: 20px;
    width: 350px;
    margin: auto;
    
}
.messageLayoutConversation {
    border-radius: 20px;
    background: $color-blue;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(16,27,45,0.62);
    -moz-box-shadow: 3px 3px 5px 0px rgba(16,27,45,0.62);
    box-shadow: 3px 3px 5px 0px rgba(16,27,45,0.62);
    h3 {
        margin: 0px;
        margin-top: 5px;
        font-size: 1em;
        text-align: left;
        display: block;
        width: 80%;
        float: right;
    }
    .chatProfilePic {
        border-radius: 50%;
        width: 35px;
        margin: 0px;
    }
}

.messageLayoutWrapper{
    width:100%;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    .messageLayoutUser {
        background: $color-purple;
        max-width: 40%;
        margin-left: 60%;
        border-radius: 20px;
        padding: 10px;
        margin-bottom: 10px;
        position: relative;
        -webkit-box-shadow: 2px 2px 5px 0px rgba(16,27,45,0.31);
        -moz-box-shadow: 2px 2px 5px 0px rgba(16,27,45,0.31);
        box-shadow: 2px 2px 5px 0px rgba(16,27,45,0.31);
    }
    .messageLayoutSender {
        background: $color-green;
        max-width: 40%;
        margin-left: 0%;
        border-radius: 20px;
        padding: 10px;
        margin-bottom: 10px;
        position: relative;
        -webkit-box-shadow: 2px 2px 5px 0px rgba(16,27,45,0.31);
        -moz-box-shadow: 2px 2px 5px 0px rgba(16,27,45,0.31);
        box-shadow: 2px 2px 5px 0px rgba(16,27,45,0.31);
    }
}



