/*--
Variables !!!!! <3
--*/
/*--
Background
--*/
$color-background: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
/*--
General Colors
--*/
$color-purple: linear-gradient(to right top, #9464d2, #9869d6, #9d6eda, #a173de, #a678e2);
$color-orange: linear-gradient(to right top, #e7632f, #ec6a37, #f0713e, #f57746, #f97e4d);
$color-blue: linear-gradient(to right top, #4e88dd, #578fe2, #6096e7, #699eec, #72a5f1);
$color-green: linear-gradient(to right top, #31db7a, #35de75, #3be070, #40e36b, #46e565);
/*--
Black and white
--*/
$color-black: linear-gradient(to right top, #141e1e, #0f1e21, #0a1e26, #0a1d2a, #101b2d);
$color-white: linear-gradient(to right top, #f6f2ef, #f8f2f0, #f9f2f2, #faf3f4, #faf3f6);
