@import './hamburger';
@import './navbar';

header {
    padding: $regular-spacing;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h1 {
        margin: 0;
    }
}
